.modal__content {
	box-sizing: border-box;
	padding: 50px;
	width: 800px;
	height: 500px;
	background-color: #fff;
	font-family: $main-font-family;
	font-size: $font-size-base;
	line-height: $line-height-base;
	overflow-y: auto;
	display: grid;
	grid-template-areas:
			'photo info'
			'labels info'
			'buttons info'
			'review review';
	grid-gap: 20px;
	grid-template-columns: 300px 1fr;
}
